* { 
    margin: 0;
}

.app {
    background-color: #fafafa;
}

.app__posts {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: auto;
    gap: 25px;


}


.app__postsRight {
    margin-left: 20px;
    width: 350px;
}

.app__headerImage {
    object-fit: contain;
    width: 20%;
}

.app__header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    object-fit: contain;
    padding: 20px;
    border-bottom:  1px solid lightgray;
    display: flex;
    justify-content: space-between;
}


.app__signUp {
    display: flex;
    flex-direction: column;

}

@media (max-width: 800px) {
    .app__posts {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 560px) {
    .app__posts {
      grid-template-columns: 1fr;
    }
  }