* { 
    margin: 0;
}

.app {
    background-color: #fafafa;
}

.app__posts {
    padding: 20px;
    display: flex;
    justify-content: center;


}

.app__postsLeft{

}
.app__postsRight {
    margin-left: 20px;
    width: 350px;
}

.app__headerImage {
    object-fit: contain;
    width: 20%;
}

.app__header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    object-fit: contain;
    padding: 20px;
    border-bottom:  1px solid lightgray;
    display: flex;
    justify-content: space-between;
}


.app__signUp {
    display: flex;
    flex-direction: column;

}