.imageupload {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 150px;
    justify-content: space-around;
    
   
}

.imageupload__progress {
    width: 100%;

}

.text {
    height: 50px;
    border-radius: 5px;
    border: 1px solid #80808091;;
}

.text:focus {
    outline: none;
}

.MuiButton-text {
    font-size: 20px;
}